<form class="loginForm" (ngSubmit)="onSubmit(f)" #f='ngForm'>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name </label>
    <input type="text" class="form-control"  [(ngModel)]="fname" name='firstname' required #firstname='ngModel'>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control"  [(ngModel)]="lname" name='lastname' required #lastname='ngModel'>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset" class="btn btn-primary">Cancel</button>
</form>